body {
    font-family: 'Fira Mono', monospace;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

#header img {
    height: 4em;
}

#schema {
    display: flex;
    justify-content: center;
}

#schema img {
    width: 50vw;
    height: 15vw;
}

#filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin: 2em 0;
}

#graph {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

#CRUDGraph {
    flex-grow: 1;
    order: 1;
}

#selectGraph {
    flex-grow: 1;
    order: 2;
}